<bal-app class="has-sticky-footer">
  <header>
    <bal-navbar>
      <bal-navbar-brand>
      </bal-navbar-brand>
    </bal-navbar>
  </header>
  <main class="container is-compact">
    <bal-card class="mt-large px-large">

      <bal-card-title class="mb-medium">Issue</bal-card-title>
      <div [formGroup]="formGroup">

        <bal-card-content class="mb-medium py-large" style="background: aliceblue">
          <bal-heading [level]="'h5'">Example 1</bal-heading>
          is invalid {{isInvalid('example1') | async}}
          <bal-field [invalid]="isInvalid('example1') | async">
            <bal-select
              *ngIf="options$$ | async as options; else loading"
              formControlName="example1"
            >
              <bal-select-option *ngFor="let option of options" [value]="option.value" [label]="option.label">
                {{ option.label }}
              </bal-select-option>
            </bal-select>
          </bal-field>
        </bal-card-content>

        <bal-card-content class="mb-medium py-large" style="background: bisque">
          <bal-heading [level]="'h5'">Formgroup value</bal-heading>
          <div class="mt-small p-medium" style="background: bisque">
            {{ formGroup.value | json}}
          </div>
        </bal-card-content>
      </div>
    </bal-card>
  </main>
  <bal-footer></bal-footer>
</bal-app>


<ng-template #loading>
  🍷 Please wait my friend!
</ng-template>
