<form *ngIf="form" [formGroup]="form">
  <bal-field>
    <bal-field-control>
      <bal-input formControlName="name"></bal-input>
    </bal-field-control>
  </bal-field>
  <bal-field>

    <bal-field>
      <bal-field-control>
        <bal-number-input formControlName="test" (balInput)="onInput($event)" (balFocus)="onFocus($event)"></bal-number-input>
      </bal-field-control>
    </bal-field>
    number input form value: {{form?.get('test')?.value}}

    <br>
    email touched: {{form?.get('email')?.touched}}

    <bal-field-control>
      <bal-input formControlName="email"></bal-input>
    </bal-field-control>
    <bal-field-message color="danger">
      <bal-ng-error controlName="email" error="isRequired"> Required error
      </bal-ng-error>
      <bal-ng-error controlName="email" error="isEmail"> Email error
      </bal-ng-error>
    </bal-field-message>
  </bal-field>

  <bal-field class="is-one-third" expanded>
    <bal-field-control>
      <bal-select data-test-id="status-dropdown" expanded formControlName="status">
        <bal-select-option *ngFor="let status of statusOptions"
                           [id]="'status-' + status.toLowerCase()"
                           [label]="status"
                           [value]="status">
          {{ status}}
        </bal-select-option>
      </bal-select>
    </bal-field-control>
  </bal-field>
  status touched: {{form?.get('status')?.touched}}

  <bal-field>
    <bal-field-label>Label</bal-field-label>
    <bal-field-control>
      <bal-radio-group interface="select-button" formControlName="radioButton">
        <bal-radio name="select-button-example" value="yes">Yes</bal-radio>
        <bal-radio name="select-button-example" value="no">No</bal-radio>
      </bal-radio-group>
    </bal-field-control>
    <bal-field-message color="hint">Field Message</bal-field-message>
  </bal-field>
  radioButton touched: {{form?.get('radioButton')?.touched}}

  <bal-field>
    <bal-field-label>Is this form correct?</bal-field-label>
    <bal-field-control>
      <bal-checkbox-group>
        <bal-checkbox formControlName="correct">
          Label
        </bal-checkbox>
      </bal-checkbox-group>
    </bal-field-control>
    <bal-field-message color="hint">Field Message</bal-field-message>
  </bal-field>
  value is: {{form?.get('correct')?.value}}

  <bal-field>
    <bal-radio-group vertical="true" [formControlName]="'correct'">
      <div [attr.data-test-id]="'container-suggestion'" class="is-flex is-flex-direction-column container-suggestion insurance-sum-container">
        <bal-field-control class="pb-1">
          <bal-radio name="radio-suggestion" [value]="false" data-test-id="radio-suggestion">
            <bal-field-label class="mb-0">false value</bal-field-label>
          </bal-radio>
        </bal-field-control>
        <bal-field-control class="pl-6">
          <bal-input
            data-test-id="input-self-determined"
            [formControlName]="'status'"
          ></bal-input>
        </bal-field-control>
      </div>

      <div [attr.data-test-id]="'container-self-determined'" class="is-flex is-flex-direction-column insurance-sum-container">
        <bal-field-control class="pb-1">
          <bal-radio name="radio-self-determined" [value]="true" data-test-id="radio-self-determined">
            <bal-field-label class="mb-0">true value</bal-field-label>
          </bal-radio>
        </bal-field-control>
        <bal-field-control class="pl-6">
          <bal-input
            data-test-id="input-self-determined"
            [formControlName]="'test'"
          ></bal-input>
        </bal-field-control>

      </div>
    </bal-radio-group>
  </bal-field>

</form>
