<form *ngIf="form" [formGroup]="form">
  <bal-field>
    <bal-field-control>
      <bal-input formControlName="name"></bal-input>
    </bal-field-control>
  </bal-field>
  <bal-field>
    <bal-field-control>
      <bal-input formControlName="email"></bal-input>
    </bal-field-control>
    <bal-field-message color="danger">
      <bal-ng-error controlName="email" error="isRequired"> Required error
      </bal-ng-error>
      <bal-ng-error controlName="email" error="isEmail"> Email error
      </bal-ng-error>
    </bal-field-message>
  </bal-field>

  <bal-field class="is-one-third" expanded>
    <bal-field-control>
      <bal-select data-test-id="status-dropdown" expanded formControlName="status" [remote]="true">
        <bal-select-option *ngFor="let status of statusOptions"
                           [id]="'status-' + status.name.toLowerCase()"
                           [label]="status.name"
                           [value]="status.value">
          {{ status.name }}
        </bal-select-option>
      </bal-select>
    </bal-field-control>
  </bal-field>

  <bal-field class="is-one-third" expanded>
    <bal-field-control>
      <bal-select data-test-id="status-dropdown" expanded formControlName="status2" [remote]="true">
        <bal-select-option *ngFor="let status of statusOptions"
                           [id]="'status-' + status.name.toLowerCase()"
                           [label]="status.name"
                           [value]="status.value">
          {{ status.name }}
        </bal-select-option>
      </bal-select>
    </bal-field-control>
  </bal-field>
</form>
